/*
    RESET
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif ;
}

/*
    GENERAL
*/
.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 10px;
}

.my-row {
    height: var(--lower-height);
    display: flex;
    margin-left: -10px;
    margin-right: -10px;
}

.my-row .my-col {
    width: calc(100% - 20px);
    margin-left: 10px;
    margin-right: 10px;
}

img {
    max-width: 100%;
}

:root {
    --lower-height: 84px;
}

/*
    MACRO
*/

#upper {
    height: calc(100vh - var(--lower-height));
    display: flex;
}

#upper > aside {
    width: 200px;
    background-color: black;
}

#upper > aside .logo {
    filter: invert(100%);
    display: flex;
    align-items: center;
    font-size: 2cap;
    padding: 15px
}

#upper > aside .logo * {
    padding: 0 2px;
}

/*#upper > aside nav #home :first-child {
    width: 5px;
    height: 20px;
    background-color: greenyellow;
}*/

#upper > aside {
    min-height: 400px;
}

#upper > aside nav > * {
    padding: 5px 20px;
}

#upper > aside nav * {
color: grey;
}

#upper > aside .playlist h3 {
    color: white;
    padding: 10px 20px;
    margin-top: 10px;
}

#upper > aside .playlist div {
    margin: 5px 20px;
}

#upper > aside .playlist .plus-padding {
    background-color: grey;
    padding-left: 9px;
    color: black;
    font-size: 3cap;
}

#upper > aside .playlist * {
    color: grey;
}

#upper > aside .playlist div > b {
    padding: 1px 2.1px;
}

#upper > aside #upper-bottom {
    color: white;
    padding: 0 20px;
}

#upper > aside #upper-bottom div i {
    padding-right: 10px;
}

#upper > aside #upper-bottom hr {
    margin: 10px 0;
}

#upper > aside #upper-bottom * {
    bottom: 0;
}

#upper > main {
    width: calc(100% - 200px);
    background-color: #141922;
    overflow-y: auto;
}

#upper > main > header {
    text-align: right;
    position: sticky;
    top: 0;
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, .5);
    color: white;
    padding: 20px 10px;
}

#upper > main > nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#upper > main > nav * {
    color: grey;
    font-size: 1.1cap;
    margin: 10px;
}

#upper > main > div h3 {
    color: white;
    padding: 20px;
}

#upper > main > div p {
    color: grey;
    padding: 0 20px;
}

#upper > main > div * img {
    width: 150px;
    margin: 0 20px;
}

#upper > main > div > section {
    display: inline;
}

.border-img img {
    border-radius: 50%;
}

/*
    FOOTER
*/

footer {
    background-color: #282828;
    height: var(--lower-height);
}

.footer-container {
    max-width: 97%;
    margin: 0 auto;
}

.footer-container .my-row {
    flex-wrap: nowrap;
    justify-content: space-between;
}

.footer-container .my-row .my-col-1 img {
    width: 60px;
    margin: 10px;
}

.footer-container .my-row .my-col-1 {
    display: flex;
}

.footer-container .my-row .my-col-1 #my-song {
    padding-top: 5%;
    color: grey;
}

.footer-container .my-row .my-col-1 #my-song :first-child {
    color: white;
}

.footer-container .my-row .my-col-1 ul {
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 30px;
    color: grey;
}

.footer-container .my-row .my-col-1 ul li {
    padding: 0 15px;
}

.footer-container .my-row .my-col-2 div ul,
.footer-container .my-row .my-col-3 ul {
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 10px;
    color: white;
}

.footer-container .my-row .my-col-2 div ul li,
.footer-container .my-row .my-col-3 ul li  {
    padding: 0 10px;
}

.footer-container .my-row .my-col-2 .all-sound-bar {
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 1cap;
}

.footer-container .my-row .my-col-2 .all-sound-bar .music {
    flex-grow: 1;
    background-color: grey;
    border-radius: 150px;
    margin: 0 10px;
    height: 4px;
    margin-top: 4px;
}

.footer-container .my-row .my-col-2 .all-sound-bar .sound-bar-progress {
    width: 20%;
    background-color: white;
    height: 4px;
    border-radius: 150px;
}

.footer-container .my-row .my-col-3 > div {
    position: relative;
}

.footer-container .my-row .my-col-3 ul {
    margin: 10px 0;
}

.footer-container .my-row .my-col-3 .volume {
    width: 35%;
    background-color: grey;
    border-radius: 150px;
    height: 4px;
    margin-top: 4px;
    position: absolute;
    right: 0;
    top: 35%;
}

.footer-container .my-row .my-col-3 .volume .sound-bar-progress {
    width: 20%;
    background-color: white;
    height: 4px;
    border-radius: 150px;
}

/*
    RESPONSIVE
*/

@media screen and (max-width: 1100px){
    
}

@media screen and (max-width: 700px){
    
}

@media screen and (max-width: 600px){
    
}